<h{{ .Level }} id="{{ .Anchor | safeURL }}"><a href="#{{ .Anchor | safeURL }}" class="headerlink anchor"><i class="iconfont icon-link"></i></a>{{ .Text | safeHTML }}</h{{ .Level }}>
{{- /* This comment removes trailing newlines. */ -}}
