// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

$theme-color: #c05b4d;

// Switch to serif fonts site-wide and define a new set
$global-serif-font-family: Libre Baskerville, Garamond, Georgia, serif;
$global-font-family: Libre Baskerville, Garamond, Georgia, serif;

// Font size of the social icon.
$social-icon-font-size: 27px;

// Font color of the post meta.
// $post-meta-font-color: $theme-color;

// Font size of post title.
$post-title-font-size: 23px;

// Headings font size of the site.
$global-headings: (
//   h1: 20px,
   h2: 21px,
//   h3: 17px,
//   h4: 15px,
//   h5: 13px,
//   h6: 12px
)
