{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      <div class="post-meta">
        <span class="post-time">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
        {{- if .Site.Params.moreMeta }}
          <span class="more-meta"> {{ T "wordCount" .WordCount }} </span>
          <span class="more-meta"> {{ T "readingTime" .ReadingTime }} </span>
        {{- end }}
      </div>
    </header>

    <!-- TOC -->
    {{- partial "post/toc.html" . -}}

    <!-- Outdated Info Warning -->
    {{- partial "post/outdated-info-warning.html" . -}}

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright -->
    {{- partial "post/copyright.html" . -}}

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . -}}
            <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{ else }}/{{ end }}">{{ . }}</a>
          {{ end -}}
        </div>
      {{- end -}}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .PrevInSection -}}
          <a class="prev" href="{{ .RelPermalink }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ .Title }}</span>
          </a>
        {{- end }}
        {{ with .NextInSection -}}
          <a class="next" href="{{ .RelPermalink }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ .Title }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>
{{- end }}
