<div class="social-links">
  {{- range $name, $path := .Site.Params.social }}
    {{- if $path }}
      {{- $realName := slicestr $name 2 }}
      <a href="{{ $path | safeURL }}" class="iconfont icon-{{ $realName }}" title="{{ $realName }}"></a>
    {{- end }}
  {{- end }}
  {{ if ne .Type "post" -}}
    <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>
  {{- end }}
</div>
<div class="copyright">
  <span class="power-by"><a class="hexo-link" href="{{ (site.GetPage "about").Permalink }}">{{ T "about" }}</a></span>
</div>
